<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Listinha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let lista of listas">
    <ion-card [ngStyle]="{'background-color': lista.cor}" class="ion-activatable" (click)="abrirLista($event)">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-card-content text-center>
        <div class="card-title">{{lista.nome}}</div>
        <div class="card-subtitle">{{lista.items}} Items</div>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="novaLista()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>