<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-scroll>
  <h1 ion-text padding>Nova Lista</h1>
  <form #form="ngForm" (ngSubmit)="criar(form)" novalidate>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" required [(ngModel)]="lista.nome" ngControl="nome" name="nome"></ion-input>
    </ion-item>
    <ion-item text-center lines="none" padding-bottom>
      <div *ngFor="let cor of cores" id="radio-group">
        <input text-center [(ngModel)]="lista.cor" ngControl="cor" type="radio" name="color" [id]="cor.nome" [value]="cor.valor" />
        <label [for]="cor.nome"><span [class]="cor.nome"></span></label>
      </div>
    </ion-item>

    <div text-center><ion-button end type="submit" color="primary">Criar</ion-button></div>
  </form>

</ion-content>