<!-- <ion-list lines="none">
  <ion-item (click)="setPrioridade()">
    <ion-buttons slot="start">
      <ion-button fill="clear" color="danger">
        <ion-icon name="radio-button-off"></ion-icon>
      </ion-button>
    </ion-buttons>
</ion-item>

<ion-item (click)="setPrioridade()">
  <ion-buttons slot="start">
    <ion-button fill="clear" color="warning">
      <ion-icon name="radio-button-off"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>

<ion-item (click)="setPrioridade()">
  <ion-buttons slot="start">
    <ion-button fill="clear" color="success">
      <ion-icon name="radio-button-off"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>
</ion-list> -->

<div>
  <ion-button fill="clear" color="danger">
    <ion-icon name="radio-button-off"></ion-icon>
  </ion-button>
</div>
<div>
  <ion-button fill="clear" color="warning">
    <ion-icon name="radio-button-off"></ion-icon>
  </ion-button>
</div>
<div>
  <ion-button fill="clear" color="success">
    <ion-icon name="radio-button-off"></ion-icon>
  </ion-button>
</div>