<ion-header no-border>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title text-center>
      <h1>Listinha</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary" class="ion-activatable" (click)="abrirLista($event)">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-card-content>
      <div class="card-title">Contas</div>
      <div class="card-subtitle">12 Itens</div>
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary" class="ion-activatable" (click)="abrirLista()">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-card-content>
      <div class="card-title">Viagem</div>
      <div class="card-subtitle">6 Itens</div>
    </ion-card-content>
  </ion-card>

  <ion-card color="warning" class="ion-activatable" (click)="abrirLista()">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-card-content>
      <div class="card-title">Tarefas</div>
      <div class="card-subtitle">3 Itens</div>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>