<ion-header translucent no-border>
  <ion-toolbar color="translucent">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content full class="content-color">
  <ion-text>
    <h1 class="ion-padding-horizontal">{{(lista | async)?.nome}}</h1>
    <h5>{{minha_data}}</h5>
  </ion-text>

  <ion-item lines="none">
    <ion-progress-bar color="primary" [value]="porcentagem"></ion-progress-bar>
    <span>
      <ion-label class="ion-text ion-padding-horizontal">{{porcentagem*100 | number : '1.0-0'}}%</ion-label>
    </span>
  </ion-item>


  <ion-list lines="full" class="ion-padding-top">
    <ion-item-sliding (ionSwipe)="onSwipe(item,$event)" *ngFor="let item of itemsPendentes">
      <ion-item-options side="start">
        <ion-item-option expandable color="danger" (click)="deletarItem(item)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <!-- <ion-badge [color]="prioridadeCores[item.prioridade]" slot="start">.</ion-badge> -->
        <ion-label [color]="prioridadeCores[item.prioridade]">{{item.nome}}</ion-label>
        <ion-badge color="medium" slot="end">{{item.dataOcorrencia | date:'dd/MM'}}</ion-badge>
      </ion-item>
      <ion-item-options side="end" (click)="toggleItem(item)">
        <ion-item-option expandable color="success">Feito!</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding (ionSwipe)="onSwipe(item,$event)" *ngFor="let item of itemsFinalizados">
      <ion-item-options side="start">
        <ion-item-option expandable color="danger" (click)="deletarItem(item)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <!-- <ion-badge [color]="prioridadeCores[item.prioridade]" slot="start">.</ion-badge> -->
        <ion-label [color]="prioridadeCores[item.prioridade]" class="text-done">{{item.nome}}</ion-label>
        <ion-badge color="medium" slot="end">{{item.dataOcorrencia  | date:'dd/MM'}}</ion-badge>
      </ion-item>
      <ion-item-options side="end" (click)="toggleItem(item)">
        <ion-item-option expandable color="warning">Refazer!</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">

    <ion-buttons slot="start">
      <ion-button fill="clear" [color]="prioridadeCores[item.prioridade]" (click)="popoverPrioridade($event)">
        <ion-icon name="radio-button-off"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-input class="input-item" [(ngModel)]="item.nome" type="text" placeholder="Novo Item"
      (keyup.enter)="adicionarItem()"></ion-input>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="medium" (click)="datePicker.open()">
        <ion-badge *ngIf="item.dataOcorrencia" color="primary">{{ item.dataOcorrencia | date: 'dd/MM' }}</ion-badge>
        <ion-icon *ngIf="!item.dataOcorrencia"name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="item.dataOcorrencia" slot="end">
      <ion-button fill="clear" color="medium" (click)="popoverSchedule($event)">
        <ion-icon name="repeat"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="success" (click)="adicionarItem()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--workaround para colocar em um botão o date-picker-->
    <ion-datetime slot="end" #datePicker [pickerOptions]="customPickerOptions" displayFormat="DD/MM/YYYY" [(ngModel)]="item.dataOcorrencia" min="2019" max="2050"></ion-datetime>
  </ion-toolbar>
</ion-footer>