<ion-header translucent no-border>
  <ion-toolbar color="translucent">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <h1 class="ion-padding-horizontal">{{(lista | async)?.nome}}</h1>
  </ion-text>

  <ion-segment [(ngModel)]="status" full=true>
    <ion-segment-button value="pendentes">Pendentes</ion-segment-button>
    <ion-segment-button value="finalizados">Finalizados</ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="status">
    <ion-list *ngSwitchCase="'pendentes'">
      <ion-item-sliding (ionSwipe)="toggleItem(item,$event)" *ngFor="let item of itemsPendentes | async">
        <ion-item-options side="start">
          <ion-item-option expandable color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item lines="full">
          <ion-label>{{item.nome}}</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option expandable>Feito!</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'finalizados'">
      <ion-item-sliding (ionSwipe)="onSwipe(item,$event)" *ngFor="let item of itemsFinalizados | async">
        <ion-item-options side="start">
          <ion-item-option expandable color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item lines="full">
          <ion-label>{{item.nome}}</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option expandable color="secondary">Refazer!</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-item>
      <ion-label position="floating">Novo Item</ion-label>
      <ion-input [(ngModel)]="item.nome" type="text"></ion-input>
    </ion-item>
    <ion-buttons slot="end">
        <ion-button fill="outline" color="dark">
          <ion-icon name="clock"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="primary" (click)="adicionarItem()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>