ion-avatar {
  max-height: 20px;
  max-width: 20px;
  margin-left: 10px;
}

.input-item {
  background-color: rgba($color: #fff, $alpha: 0.9);
  width: 97%;
  margin-left: 7px;
  border-radius: 15px;
}

ion-input{
  --padding-start: 10px;
}

.text-done {
  text-decoration: line-through;
}

// (workaround)Inserido para não mostrar o componente de date-time
ion-datetime{
    display: none;
}